name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Create dist directory
        run: mkdir -p dist
        
      - name: Generate One Dark snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: WirrWarr-rgb
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=onedark
            dist/github-contribution-grid-snake-dark.svg?palette=onedark
          
      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
